{% extends "djog/base.html" %}
{% load staticfiles %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9 center">

                <div class="thumbnail">
                    <img class="img-responsive" src="{% static "djog/images/puppy-cropped-800x300.jpg" %}" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">{{dog_details.price}} $</h4>
                        <h4>{{dog_details.alias}}</a>
                        </h4>
                        <p>{{dog_details.breed}}</p>
                        <p>{{dog_details.description}}</p>
                        <div class="text-right">
                        <a href="#" class="btn btn-primary btn-success right"><span class="glyphicon glyphicon-shopping-cart"></span> Buy now</a>
                        </div>
                    </div>

                </div>
        </div>

    </div>
{% endblock %}