{% extends "djog/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">

        <div class="row">

           
            <div class="col-md-9 center">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="{% static "djog/images/bored-dog-on-floorSmall-800x300.jpg" %}" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="{% static "djog/images/for-the-dog-lover-1.jpg" %}" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="{% static "djog/images/lots-of-dogs-800x300.jpg" %}" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>


<div class="row">
{% for dog in dogs_list %}

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <a href="/details/{{dog.alias}}/"><img width="130" src={{dog.image}} alt=""></a><!--width temp!-->
                            <div class="caption">
                                <h4 class="pull-right">{{dog.price}}</h4>
                                <h4><a href="/details/{{dog.alias}}/">{{dog.alias}}</a>
                                </h4>
                                <p>{{dog.breed}}</a></p>

                                <div class="text-right">
                                <a href="#" class="btn btn-primary btn-success right"><span class="glyphicon glyphicon-shopping-cart"></span> Buy now</a>
                                </div>
                            </div>
                            </div>
                        </div>
{% endfor %}
            </div>

        </div>

    </div>

    </div>
    {% endblock %}